<div >
<p class="bg-danger-subtle text-danger-emphasis m-0"><%= flash[:alert] %></p>
<div class="p-2">

<h1>ログイン</h1>

<%=form_with(url:login_path)do |form| %>

 <div class="mb-3">
  <%=form.label :email, "メールアドレス", style: "display: block"%>
  <%=form.email_field :email,value: params[:email]%>
 </div>

<div class="mb-3">
    <%= form.label :password, 'パスワード', style: "display: block" %>
    <%= form.password_field :password %>
  </div>

<div>
    <%= form.submit 'ログイン',class:"btn btn-success mb-2" %>
  </div>
<% end %>

<%= link_to  "戻る", users_path%>

</div>