<h1><%=@body_part.name%></h1>

<div class="row m-2">
 <%@posts.each do |inf|%>
  
<div class="card  col-4 m-2" >
  <div class="card-body ">
    <h5 class="card-title"><%=inf.exercise_name%></h5>
    <p class="card-text"><%=inf.content%></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">部位 <%=inf.body_part.name%></li>
    <li class="list-group-item">投稿者   <%= link_to inf.user.name, user_path(inf), class:"card-link" %></li>
  </ul>
  <%if inf.user==current_user%>
  <div class="card-body">
    <%=link_to "編集", edit_post_path(inf) %>
    <%=link_to "削除", post_path(inf),data: { turbo_method: :delete} %>
  </div>
  <%end%>
  </div>

  <%end%>
</div>
<%= link_to "投稿一覧に戻る", users_path %>